.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #423c3e;
}

.app_wrapper {
  display: flex;
  background-color: #2e2a2b;
  color: whitesmoke;
  height: 90vh;
  width: 90vw;
  margin: -50px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #423c3e;
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fbf1df;
  border-radius: 10px;
}
