.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 20px;
  /* border-bottom: 3px solid #1f2933; */
  border-radius: 20px;
  margin: 10px 5px;
  height: min-content;
  background-color: white;
  color: #127ad5;
  -webkit-filter: drop-shadow(1px 1px 1px #423c3e);
  filter: drop-shadow(0.5px 1px 1px #127ad5);
}

.sidebarChat:hover {
  background-color: #127ad5;
  color: white;
}

.chat_info > h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.chat_info {
  margin-left: 14px;
}
.chat_info > p {
  overflow: hidden;
  width: 20vw;
  white-space: nowrap;
}
a {
  text-decoration: none;
  color: #127ad5;
}

.add {
  display: flex;
  flex: 1;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
}
.add > .MuiSvgIcon-root {
  font-size: 3em;
  color: #127ad5;
}
.add > h3 {
  font-size: 1.5em;
  color: #127ad5;
  padding: 5px 20px;
}
.add:hover > h3 {
  color: white;
}
.add:hover > .MuiSvgIcon-root {
  color: #127ad5;
}
